<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body>
    <h1>Agregar Producto</h1>
    <form action="/productos/productAdd" method="POST">
        <label for="id">ID:</label>
        <input type="text" name="id" placeholder="Escriba el ID"><br>
        <label for="nombre">NOMBRE:</label>
        <input type="text" name="nombre" placeholder="nombre"><br>
        <label for="precio">PRECIO:</label>
        <input type="text" name="precio" placeholder="precio"><br>
        <label for="descripcion">DESCRIPCION:</label>
        <input type="text" name="descripcion" placeholder="Describa el producto"><br>
        <label for="marca">MARCAS:</label>
        <input type="text" name="marca" placeholder="Marcas"><br>
        <label for="stock">STOCK:</label>
        <input type="text" name="stock" placeholder="Stock"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>